<template>
  <div id="testUpload">
    <div class="container">
      <div class="left_box">
        <form enctype="multipart/form-data" novalidate >
          <h1>Upload images</h1>
          <div class="upload_box">
            <div class="upload_box_left">
              <div class="form-group">
                <label for="selectType">Выбрать документ</label>
                <select class="form-control" id="selectType" v-model="typeName">
                  <option>Паспорт</option>
                  <option>Права</option>
                  <option>ИНН</option>
                </select>
              </div>
              <div class="dropbox">
                <input type="file" :name="uploadFieldName" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length" accept="image/*" class="input-file">
                <p style="margin: 0;">Add Images</p>
              </div>
              <div class="uploaded_imgs">
                <ul >
                  <li v-for="(item, index) of addedFilesData">
                  <span class="deleteCurrentFile" @click="deleteFileById(index)">
                    <i class="fas fa-minus-circle"></i>
                  </span>
                    <p style="margin: 0">{{item.type}}</p>
                    <img :src="item.file.url.currentSrc" alt="">
                  </li>
                </ul>
                <div class="uploaded_imgs_btn" v-if="addedFilesData.length > 0">
                  <button @click.prevent="uploadFile()">Upload</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="right_box">
        <ul>
          <li v-for="item of uploadedFilesData" :style="{'backgroundImage': 'url('+item.file.url.src+')'}" :class="{'activeBox': currentStatus}">
              <div class="meter" :style="{'opacity': (currentStatus)?'1': '0'}">
                <span :style="{'width': (currentStatus)?'100%': '0'}"></span>
              </div>
            <p>
              <span class="badge badge-primary">{{item.type}}</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import * as types from '../stores/types.actions';

  export default {
  data () {
    return {
      uploadedFiles: [],
      typeName: 'Паспорт',
      uploadError: null,
      currentStatus: false,
      uploadFieldName: 'photos',
    }
  },
  computed: {
    addFiles() {
      return this.$store.state.files;
    },
    addedFilesData() {
      let files = this.addFiles || [];
      return files;
    },
    uploadedFilesData() {
      let uploadedfiles = this.$store.state.uploadedFiles || [];
      return uploadedfiles;
    },
  },
  methods: {

    filesChange(fieldName, fileList) {
      const formData = new FormData();

      if (!fileList.length) return;

      Array
        .from(Array(fileList.length).keys())
        .map(x => {
          formData.append(fieldName, fileList[x], fileList[x].name);
        });
      this.$store.dispatch(types.ADD_FILE, {file: formData, typeName: this.typeName});
    },
    deleteFileById(id) {
      this.$store.dispatch(types.DELETE_FILE_BY_ID, {id});
    },
    uploadFile() {
      setTimeout(() => {
        this.currentStatus = true;
      }, 100);
      setTimeout(() => {
        this.currentStatus = false;
        this.currentStatusClass = false;
      }, 1500);
      this.$store.dispatch(types.UPLOAD_FILES);
    }
  },
}
</script>

<style scoped>
  .container {
    display: flex;
    justify-content: flex-start;
  }
  .left_box {
    width: 40%;
  }
  .right_box {
    width: 60%;
  }
  .upload_box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
  }
  .upload_box_left {
    width: 100%;
  }
  .dropbox {
    width: 100%;
    background: #00a599;
    color: #000000;
    padding: 10px 10px;
    min-height: 30px;
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0;
    width: 100%;
    min-height: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
  }
  .uploaded_imgs ul{
    padding: 0;
    list-style-type: none;
    display: flex;
  }
  .uploaded_imgs ul li{
    width: 100px;
    position: relative;
    margin: 10px 25px;
    margin-left: 0;
  }
  .uploaded_imgs ul li img{
    max-width: 100%;
  }
  .uploaded_imgs_btn {
    text-align: right;
  }
  .uploaded_imgs_btn button{
    border: 1px solid #00a599;
    background: none;
    font-weight: 600;
    border-radius: 2px;
    padding: 2px 25px;
    cursor: pointer;
  }
  .deleteCurrentFile {
    position: absolute;
    top: 0;
    right: -20px;
    cursor: pointer;
  }
  .right_box ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
  }
  .right_box ul li{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    padding: 25px;
    margin: 10px;
    min-height: 280px;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(1,72,177,0.58);
    box-shadow: 0px 0px 20px 2px rgba(1,72,177,0.58);
    border-radius: 3px;
  }
  .right_box ul li p{
    margin-left: auto;
    margin-right: auto;
    right: 0;
    position: absolute;
    top: -6px;
    font-size: 20px;
    font-weight: 600;
  }
  .activeBox {
    -webkit-transition: all 2s; /* Safari */
    transition: all 2s;
    opacity: 0.5;
  }
  .meter {
    height: 20px;  /* Can be anything */
    position: absolute;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    width: 55%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
  }
  .meter > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: linear-gradient(center bottom,rgb(43,194,83) 37%,rgb(84,240,84) 69%);
    box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    overflow: hidden;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .meter > span.activeBox {
    -webkit-transition: all 2s;
    transition: all 2s;
    width: 30%;

  }
</style>
